
.results tr[visible='false'],
.no-result{
    display:none;
}

.results tr[visible='true']{
    display:table-row;
}

.counter{
    padding:8px;
    color:#ccc;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.nuevo{ 
    font-size: 20px; 
}

.size16{ 
    font-size: 16px; 
}

.size18{ 
    font-size: 18px; 
}

